@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
    margin: -1px;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* color: #222; */
    padding-bottom: 50px;
    background-color: #dbdbdb;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
  /* border: 2px solid rebeccapurple; */
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3x ease-in-out;
}

.nav .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 12px 0;
    transition: all 0.3s ease-in-out;
}

.container input{
    border: 2px solid rgb(219 214 214);
    border-radius: 8px;
    padding: 8px;
    background-color: transparent;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;  
    justify-content: center;
    margin-right: -38px;
}

.nav a{
    color: #3578E5;
    text-decoration: none;
    padding: 7px 15px;
    
    transition: all 0.3s ease-in-out;
}


.logo{
margin-left: -163px;
}

  .btn{
    cursor: pointer;
    width: 15%;
    background: rgb(73, 140, 240);
    padding: 9px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: bolder;
    margin-left: -17px;
}

.btn:active {
    transform: scale(0.98);
  }

.li1{
    margin-right: 15px;
  }

.li2{
    margin-right: 30px
}

.forgot{
    padding-left: 20px;
    margin-right: 20px;
}

.section{
    display: flex;
    background-color: #fff;
    position: relative;
    justify-content: center;
    margin: 131px auto;
    padding: 21px 0px 27px 0px;
    border: 2px solid #fff ;
    border-radius: 13px;
    max-width: 453px;
    height: 40vh;
}

.hero input{
    padding: 13px;
    margin-top: 19px;
    margin-left: 20px;
    border: 2px solid #828282;
    border-radius: 5px;
    background-color: transparent;
    width: 400px;
}


 .hero button{
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
   margin: auto;
    
} 

#but1{
    padding: 9px;
    margin-top: 22px;
    margin-left: 280px;
    background-color: rgb(173, 172, 172);
    color: rgb(77, 77, 77);
}

#but1:active {
    transform: scale(0.98);
  }


#but2{
    background-color: rgb(73, 140, 240);
    padding: 9px; 
}

#but2:active {
    transform: scale(0.98);
  }


.hero #para1{
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: larger;
    font-weight: bolder;
}

.hero #para2{
    margin-top: 20px;
    margin-left: 20px;
  
}

.horizontal_line{
    margin-top: 20px;
}


.footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 200px;
  background-color: #fff;
}

